* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  color: #fff;
  padding: 1rem 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-right: 1rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ffd700;
}

.active {
  color: #ffd700;
}

.btn-download {
  background-color: #ffd700;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-download:hover {
  background-color: #ffcc00;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-menu {
    margin-top: 1rem;
    flex-direction: column;
  }

  .navbar-item {
    margin: 0.5rem 0;
  }
}

/// Header Styling End

//  Footer Styling Start
.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 1rem;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-info p {
  margin: 0;
}

.footer-bottom {
  background-color: #222;
  padding: 0.5rem 0;
  text-align: center;
}
